@font-face {
  font-family: "Anurati";
  src: local("Anurati"),
   url("./fonts/Anurati-Regular.otf") format("truetype");
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-face-gm {
  font-family: "Anurati";
 }

body {
  font-family: 'Montserrat', sans-serif;
}

.text-purple {
  color : #793ef5;
}